<form [formGroup]="spell" (ngSubmit)="submit()">

  <h2>Spell Editor</h2>

  <div>
    <p>Name</p>
    <input type="text" placeholder="Spell Name" formControlName="name">
  </div>

  <div>
    <p>Description</p>
    <input type="text" placeholder="Spell Description" formControlName="description">
  </div>

  <div>
    <p>Level</p>

    <div class="level-selector">
      @for (lvl of levels; track lvl) {
        <button
          type="button"
          [class.active]="spell.controls.level.value === lvl"
          (click)="setLevel(lvl)"
        >
          {{ lvl }}
        </button>
      }
    </div>
  </div>

  <div>
    <p>School</p>
    <select formControlName="school">
      @for (option of schoolOptions; track option.value) {
        <option [value]="option.value">
          {{ option.label }}
        </option>
      }
    </select>
  </div>

  <div>
    <button type="submit" [disabled]="spell.invalid">
      Save Spell
    </button>
  </div>
</form>